@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar scrollbar en navegadores compatibles */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Edge */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
  }
  